{{- $title := .Title | default site.Title -}}
{{- $desc := .Description | default .Params.summary -}}
{{- if and (not $desc) .IsPage }}{{ $desc = .Summary }}{{ end -}}
{{- $desc = $desc | default site.Params.description | default $title -}}
{{- $locale := site.Language.Locale | default "en-US" -}}
{{- if and .IsPage (eq .Section "posts") -}}
  {{- $author := partial "author.html" . -}}
  {{- $pub := .PublishDate | default .Date -}}
  {{- $mod := .Lastmod | default .Date -}}
  {{- $keywords := .Params.tags | default (slice) -}}
  {{- $logo := site.Params.assets.favicon | default "favicon.ico" | absURL -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ $title | plainify | jsonify | safeJS }},
  "name": {{ $title | plainify | jsonify | safeJS }},
  "description": {{ $desc | plainify | jsonify | safeJS }},
  "keywords": {{ $keywords | jsonify | safeJS }},
  "inLanguage": {{ $locale | jsonify | safeJS }},
  "datePublished": {{ $pub | time.Format "2006-01-02T15:04:05Z07:00" | jsonify | safeJS }},
  "dateModified": {{ $mod | time.Format "2006-01-02T15:04:05Z07:00" | jsonify | safeJS }},
  "author": {
    "@type": "Person",
    "name": {{ $author | jsonify | safeJS }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify | safeJS }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify | safeJS }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ $logo | jsonify | safeJS }}
    }
  }
}
</script>
{{- else if .IsHome -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify | safeJS }},
  "url": {{ site.Home.Permalink | jsonify | safeJS }},
  "description": {{ site.Params.description | default site.Title | plainify | jsonify | safeJS }},
  "inLanguage": {{ $locale | jsonify | safeJS }}
}
</script>
{{- else -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ $title | plainify | jsonify | safeJS }},
  "url": {{ .Permalink | jsonify | safeJS }},
  "description": {{ $desc | plainify | jsonify | safeJS }},
  "inLanguage": {{ $locale | jsonify | safeJS }}
}
</script>
{{- end -}}
